form(ng-submit="login()")
	p  username
	input( class="form-control" type="text" ng-model="credits.username" required)
	br
	p password
	input(class="form-control" type="password" ng-model="credits.password" required)
	br
	input(type="submit" class='btn btn-primary')